.container {
    display: flex;
    background-color: whitesmoke;
}

img {
    max-width: 100%
}

.image {
    flex-basis: 40%;
}

.text {
    font-size: 20px;
    padding-left: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    height: 100vh;
}

.wrapper {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.container .btn{
    justify-content: flex-end;
    display: flex;
}

button {
    background: #eb3349;
    color: white;
    width: 240px;
    height: 80px;
    border: 1px solid #eb3349;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}


.moreText{
    display: none;
}



