@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    padding: 1.1rem;
    background-color: white !important;
}


.nav-link {
    margin: 1.1em;
    font-size: 1.2em;
    font-weight: 400;
}